[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/mysql:5.6
ContainerName=wrapme-mysql
Volume=wrapme-mysql.volume:/var/lib/mysql
Network=wrapme.network
# Once 4.5 is released change this line to use the quadlet Secret key
PodmanArgs=--secret=wrapme-mysql-root-password-container,type=env,target=MYSQL_ROOT_PASSWORD